<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this nothing from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form.hidden_field :id unless form.object.new_record? %>

<p>
  <%= form.label :email, "E-mail" %>
  <%= form.text_field :email %>
</p>

<p>
  <%= form.label :password, form.object.new_record? ? "Password" : "Change Password" %>
  <%= form.password_field :password %>
</p>

<p>
  <%= form.label :password_confirmation, "Password Confirmation" %>
  <%= form.password_field :password_confirmation %>
</p>

<% if can? :manage, :roles %>
  <p>
    <%= form.label :roles %>
    <%= form.select :roles, User::ROLES_MASK, {}, { :multiple => true, :size => 4 } %>
  </p>
<% end %>
