<h3>Listing Users</h3>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>

    <td>
      <% if can? :update, user %> 
        <%= link_to 'edit', edit_user_path(user) %>
      <% end %>

      <% if can? :destroy, user %> 
        <%= link_separator %>
        <%= link_to 'delete', user, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>

<br />

<% if current_user.nil?  %>
  Not signed up? <%= link_to 'Register', new_user_path %> now!
<% elsif can? :manage, User %>
  <%= link_to 'New User', new_user_path %>
<% end %>
