<h3>Showing User Information</h3>

<p>
  <b>E-mail:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Login Count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last Request at:</b>
  <%= datify @user.last_request_at %>
</p>

<p>
  <b>Last Login at:</b>
  <%= datify @user.last_login_at %>
</p>

<p>
  <b>Current Login at:</b>
  <%= datify @user.current_login_at %>
</p>

<p>
  <b>Last Login IP:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current Login IP:</b>
  <%=h @user.current_login_ip %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> or <%= link_to 'return to list', users_path %>
