<h1>Login</h1>
 
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
  <%= f.check_box :remember_me %><%= f.label :remember_me %>
  </p>

  <p>
    <%= f.submit "Login" %>
  </p>

  <p>
    Don't have an account yet? Why not <%= link_to "sign up", new_user_path %>!
  </p>
<% end %>
