<html>
  <head>
    <script src="http://www.google.com/jsapi"></script>
    <script>google.load("jquery", "1.4");</script>

    <%= stylesheet_link_tag 'main' %>
  </head>

  <body>
    <div id='navigation'>
      <%= link_to "Users", users_path %>
    </div>

    <div id='userland'>
      <% if current_user %>
        Welcome <%= current_user.email %>!

        <%= link_to "My Account", user_path(current_user) %>
        <%= link_separator %>
        <%= link_to "Logout", '/user_sessions/destroy' %>
      <% else %>
        You are not currently 
        <%= link_to "logged in", new_user_session_path %>.
      <% end %>
    </div>

    <div id='flashes'>
      <%= "<h5 class='flash error'>#{flash[:error]}</h5>" unless flash[:error].blank? %>
      <%= "<h5 class='flash notice'>#{flash[:notice]}</h5>" unless flash[:notice].blank? %>
    </div>

    <div id='content'>
      <%= yield %>
    </div>

    <div id='copyright'>
      Copyright &copy; 2010, MyCompany. All rights reserved.
    </div>
  </body>
</html>
